node_modules
npm-debug.log
Dockerfile*
dockerfile*
docker-compose*
.dockerignore
.git
.github
.gitignore
README.md
LICENSE
.vscode
data/*.json
.cache/*
.env
customizer/ldap_customizer.js
synology-openldap-export