node_modules
npm-debug.log
Dockerfile*
dockerfile*
docker-compose*
.dockerignore
.git
.github
.gitignore
.vscode
.cache/*
.env
customizer/ldap_customizer.js
schema/synology-openldap-export
schema/*.ps1
example
tests
docs
*.ps1
*.env-*
coverage
*.md